
.contact-page{
    background-color: #191919;
    height: 100vh;
}

.contact-content{display: inline-block;}
.content-left{padding-right: 50px;}
.content-right{padding: 100px 0 0 100px}

/* ---------------Left side ----------------*/
.contact-header-title{
    color: #f2f2f2;
    margin-left: 100px;
    
}

.interested-list{
    color: #cbcbcb;
    font-size: 2em;
    margin-left: 100px;
    list-style-type: none;
    
}
.download-button{
    background-color: #f2f2f2;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 30%;
    margin-top: 50px;

}
.download-button:hover{
    background-color: #539db6;
    transition: 100ms;
}
.download{
    width: 100%;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.download:hover{
    color: #fff;
    transition: 100ms;
    
}


/* ---------------Right side ----------------*/
.stamp{
    width: 100%;
    right: 0;
    align-items: flex-end;
    margin-left: 20%;
    padding: 0;
}

.name{
    color: #f2f2f2;
    font-size: 3em;
    font-weight: bold;
    margin: 10px 50px 5px 0;
}

.contact-info{
    color: #ababab;
    font-size: 1.5em;
   
}

.contact-link{
    color: #f2f2f2;
   

}

.vertical-line{
    border-left: 6px solid #539db6;
    height: 75%;
    margin-top: 5%;
    position: absolute;
    
}

.contact-link:hover {
    text-decoration: none;
    color: #539db6;
}