@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

* {
  font-family: 'Yomogi', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.page-title{
  font-family: 'Abril Fatface', cursive;
  font-size: 3.5rem;
  font-weight: bold;
}